<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [class.scrolled]="isScrolled">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-pulse-fill me-2" viewBox="0 0 16 16">
        <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z"/>
        <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z"/>
      </svg>
      <span class="brand-name">BloodLink</span>
      <span class="brand-tagline ms-2">– Connect to Save Lives</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home" (click)="scrollToSection('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#register" (click)="scrollToSection('register')">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#search" (click)="scrollToSection('search')">Search Donor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" (click)="scrollToSection('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" (click)="scrollToSection('contact')">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
